@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600&family=League+Spartan:wght@400;600;700&family=Roboto+Condensed:wght@400;700&display=swap');

@media (prefers-reduced-motion: no-preference){
    * {
        scroll-behavior: smooth;
    }
}

:root {
    --darkg: #37373d;
    --lightg: #666778;
    --lightpurple: #e6e4fc;
    --almostwhite:#f6fffb;
    /* DECIDE ALMOST WHITE BG COLOR */
    --medpurple: #570dfa;
    --greenaccent: #86fa3b;
}

* {
    margin: 0;
    padding:0;
    font-family: 'League Spartan', sans-serif;
    box-sizing: border-box;

    /* font-family:INSERT FONT FAMILY; */
}

p   {
    font-size: 1.2em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.4em;
}

hr {
    width: 70vw;
    border: solid var(--medpurple);
    border-radius: 30%;
}

a {
    text-decoration: none;
}

body {
    background-color: white;
}

#navbar {
    /* change nav background color */
    background-color: var(--medpurple);
    color: white;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:70px;
    margin:0 auto 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index:10;
}

#header-myname {
    font-size: 1.7em;
    text-decoration: none;
    color:white;
    
}

#header-myname span {
    transition: 0.3s ease-in-out;
}

#header-myname span:hover {
    color: var(--greenaccent);
}

#nav-list {
    display: flex;
    margin-right:2em;
}

ul {
    list-style: none;
}

.nav-link {
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    margin:.6rem;
    padding:.7rem;
    text-decoration: none;
    color: white;
    transition: 0.3s ease-in-out;
}

.nav-link:hover {
    color:var(--greenaccent);
}

.hamburger {
    display:none;
    cursor:pointer;
}

.bar {
    display:block;
    width: 25px;
    height: 3px;
    margin: 5px;
    border-radius: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.5s ease-in-out;
    background-color: white;
}

#sticky-sidebar {
  display: flex; 
  flex-direction: column;
  z-index:10;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 40%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: var(--medpurple);
}

#sticky-sidebar a {
    padding: 15px 10px 15px 7px;
}

.fa-brands {
    color: white;
    transition: 0.3s ease-in-out;
}

.fa-brands:hover {
    color:var(--greenaccent);
}
/* END NAV THINGS */

/* WELCOME */
#welcome-section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin-top:55px;
}

#hello {
    font-size: 2.6em;
}

#intro {
  width:400px; 
  margin-left: 60px;
}

#welcome-section h1 {
    color: var(--medpurple);
}

#welcome-section p {
    color: black;
}

#profilepic {
    width: 80vw;
    max-width:500px;
    min-width:200px;
}

/* WELCOME END */

/* ABOUT SECTION START */
#about-section {
    display: flex;
    flex-direction: column;
    max-width: 120rem;
    margin:10px auto 10px auto;
    height: 90vh;
    /* edit height or delete maybe */
    /* edit width of all sections! */
}

#about-section h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    height: 70px;
}

#about-section hr {
    margin: 5px auto;
}

/* this does not include title */
#about-container {
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 3rem;
max-width: 950px;
margin: 2rem auto 0 auto;
}

#about-container h3 {
    margin-bottom: 10px;
}

#about-content {
    margin-left: 60px;
}

#skill-container h3 {
padding-left: .2rem;
}

#skills {
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
    align-items: flex-start;
}

#skills div:hover{
    cursor:default;
}

#skills div {
    border-radius: 20px;
    background-color: var(--medpurple);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.4rem;
    width: 5.9rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    transition: 0.3s ease-in-out;
}

#skills div:hover {
    background-color: var(--darkg);
}

#resume {
    text-align: center;
    margin: 50px auto 0 auto;
    background-color: var(--medpurple);
    width: 5.9rem;
    padding: 13px;
    border-radius: 30px;
    color: white;
    transition: 0.3s ease-in-out;
    
}

#resume-a {
    text-decoration: none;
}

#resume:hover {
    /* CHANGE SOMETHING ABOUT THIS,
     MAYBE PUT RESUME SOMEWHERE ELSE */
    background-color: var(--darkg);
}

/* END ABOUT */

/* START PROJECTS */

#project-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:10px auto;
/* figure out how to get the sticky not to touch the container */
}

#project-section h2 {
    margin: 120px auto 40px auto;
}

#project-section hr {
    margin: 0 auto 40px auto;
}

#projects-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    max-width:900px;
    grid-gap: 1rem;
    margin: 0 50px;
   
}

.project-bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #570dfa;
    padding:0 0 20px 0;
    border-radius: 30px 30px 22px 22px;
    min-width: 200px;
    text-decoration: none;
    color: white;
    transition: 0.3s ease-in-out;
   /* MAYBE DO BOX SHADOW ?? OR SOME SHADOW BEHIND .. */
}

.project-bg:hover {
    background-color: var(--darkg);
}

.project-image {
    position:relative;
    height: calc(100%-6.8rem);
    width: 100%;
    border-radius: 22px 22px 0 0;
}

.project-bg p {
    padding-top: 18px;
}

#seemore-button {
    margin: 40px auto 0 auto;
    padding: 15px;
    background-color: var(--medpurple);
    border-radius: 20px;
    text-decoration: none;
    color: white;
    transition: 0.3s ease-in-out;
}

#seemore-button:hover {
    background-color: var(--darkg);
}



/* START CONTACT */

#contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    top: 0;
    margin: 40px;
}

#contact-section h2 {
    margin: 18px auto;
}

#contact-section hr {
    margin-bottom: 30px;
}

#contact-section p {
    text-align: center;
    max-width: 800px;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

form input {
    text-align: center;
    margin: 10px;
}

#contact-section a {
    text-decoration: none;
    background-color: var(--medpurple);
    color: white;
    margin-top: 20px;
    padding:15px;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}

#contact-section a:hover {
    background-color: var(--darkg);
}

footer {
    text-align: center;
    margin-bottom: 5px;
}

#submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: var(--medpurple);
    border:none;
    color: white;
    margin-top: 20px;
    height: 2.4rem;
    width: 5.9rem;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

#submit-button:hover {
    background-color: var(--darkg);
}

#bot-icons {
    display: none;
}

/*  @media */

@media(max-width: 700px){
/* HAMBURGER */
    .hamburger {
        display:block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    #nav-list {
        position: fixed;
        left:-100%;
        top:70px;
        gap:0;
        flex-direction: column;
        background-color: var(--lightpurple);
        width:100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 0;
        border-top: solid 1px white;
    }
    .nav-item a {
        color: var(--darkg)
    }

    .nav-item a:hover {
        color: var(--medpurple);
    }
    #nav-list.active {
        left:0;
    }

/* HAMBURGER END */

/* WELCOME */
    #welcome-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 117px;
        height: 400px;
    }
    #intro {
        text-align: center;
        margin:25px 15px;
        width:auto;
        font-size: 90%;
    }

    #intro h2, p {
     Padding-top: 16px;
    }
/* WELCOME */

    #projects-grid-container {
        grid-template-columns: 1fr;
    }
    #about-section {
        height:auto;
    }
    #about-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 70vw;
        text-align: center;
    }
    #about-content {
        margin: 0;
    }

    #skills {
        justify-content: center;
        margin:0;
    }
    #skills div {
        margin: 0 .5rem 1rem .5rem;
    }

    p {
        font-size: 90%;
    }

    h2 {
        font-size: 1.7em;
    }
}

@media (max-width:500px) {
    #bot-icons {
      display: block;
    }
    #sticky-sidebar {
        display: none;
    }
}
