:root {
    --darkest5: #190332;
    --darkest4: #05000b;
    --lightpurple: #c8adf6;
    --lightpurple2:#baaaff;
    --almostwhite:#d6cdff;
    --medpurple: #570dfa;
}

* {
    margin: 0;
    padding:0;
    /* font-family:INSERT FONT FAMILY; */
}

body {
    background-color: white;
}

#navbar {
    /* change nav background color */
    background-color: var(--medpurple);
    color: var(--lightpurple);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:70px;
    margin:0 auto 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index:10;
}

#nav-list {
    display: flex;
    margin-right:2em;
}

ul {
    list-style: none;
}

#nav-list a {
    display: block;
    font-size: 1rem;
    margin:.6rem;
    padding:.7rem;
    text-decoration: none;
    color: var(--lightpurple2);
}

#sticky-sidebar {
  display: flex; 
  flex-direction: column;
  z-index:10;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 40%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: var(--medpurple);
}

#sticky-sidebar a {
    padding: 13px 10px 13px 7px;
}

/* END NAV THINGS */

#welcome-section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#intro {
  width:400px; 
  margin-left: 60px;
}

#welcome-section h1 {
    color: var(--almostwhite);
}

#welcome-section p {
    color: var(--lightpurple2);
}

#profilepic {
    width: 70vw;
    max-width:400px;
}

/* ABOUT SECTION START */

/* this section includes ABOUT ME centered title */
#about-section {
max-width: 120rem;
margin:auto;
height: 100vh;
/* edit height or delete maybe */
/* edit width of all sections! */
padding-top: 5rem;
}

#about-section h2 {
 display: flex;
 align-items: center;
 justify-content: center;
 height: 70px;
}

/* this does not include title */
#about-container {
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 8rem;
max-width: 950px;
margin: 2rem auto 0 auto;
}

#about-container h3 {
    padding-bottom: 0.7rem;
}

#about-content {
    margin-left: 60px;
}

#skill-container h3 {
padding-left: .2rem;
}

#skills {
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
    align-items: flex-start;
}

#skills div {
    border: solid var(--medpurple);
    border-radius: 20px;
    background-color: var(--medpurple);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.3rem;
    width: 5.8rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

#resume {
    text-align: center;
    margin: 50px auto 0 auto;
    background-color: var(--medpurple);
    width: 80px;
    padding: 13px;
    border-radius: 30px;
    color: white;
    
}

#resume-a {
    text-decoration: none;
}

/* END ABOUT */

/* START PROJECTS */

#project-section {
    text-align: center;
    padding: 2rem;
/* figure out how to get the sticky not to touch the container */
}

#projects-grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.project-bg {
    background-color: #570dfa;
    width: 370px;
    padding: 25px 20px;
    margin: 9px;
    border-radius: 30px;
    min-width: 200px;
    text-decoration: none;
    color: var(--almostwhite);
}

.project-image {
    position:relative;
    height: auto;
    width: 96%;
    border-radius: 10px;
}

.project-bg p {
    padding-top: 10px;
}

#seemore-button {
    margin: 20px auto;
    padding: 15px;
    background-color: var(--medpurple);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    text-decoration: none;
    color: white;
}

/* START CONTACT */

#contact-section {
    display: flex;
    justify-content: center;
    height:100vh;
    top: 0;
    margin-top: 40px;
}